<h1>Dashboard</h1>
<p>Welcome <%= current_user&.first_name || "there" %>!</p>

<%= button_to "Log out",
              logout_path,
              method: :delete,
              class: "btn btn-danger",
              data: { turbo: false, confirm: "Are you sure you want to log out?" } %>

<%= button_to "Create Post",
              posts_path,
              method: :post,
              class: "btn btn-primary" %>
